<rules>
	<rule name="Redirect to HTTPS" enabled="true" stopProcessing="true">
		<match url="(.*)"/>
		<conditions logicalGrouping="MatchAll" trackAllCaptures="false">
			<add input="{HTTPS}" pattern="off"/>
		</conditions>
		<action type="Redirect" url="https://{HTTP_HOST}/{R:1}" redirectType="Permanent"/>
	</rule>
	<rule name="Robots.txt Handler" stopProcessing="true">
		<match url="^robots\.txt\/?$" />
		<action type="Rewrite" url="/support-pages/robotstxt/" appendQueryString="false" />
	</rule>
	<rule name="Site Map Handler" stopProcessing="true">
		<match url="^site-?map\/?$" />
		<action type="Rewrite" url="/support-pages/site-map/" appendQueryString="false" />
	</rule>
	<rule name="Sitemap.xml Handler" stopProcessing="true">
		<match url="^sitemap\.xml\/?$" />
		<action type="Rewrite" url="/support-pages/site-map/xml" appendQueryString="false" />
	</rule>
</rules>